:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
}

html {
  transition: background 0.25s;
}

.use-dark {
  min-height: 100vh;
}


#app.dark>.use-dark, #app.dark>div>.use-dark-msg {
  background: #242424;
  color: #ddd;
}
